*{
    font-size: 15px;
}
.m-head{
    background-color: #008def;
    color: white;
    padding-bottom: 10px;
    align-items: flex-end;
}
.m-btn{
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375em 0.75em;
    border-radius: 0.25rem;
}
.checked{
    background-color: #0069b4;
}
.m-h-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.f-right{
    padding: 5px 0;
}
.f-right>a{
    color: white;
}
.m-h-search{
    background-color: white;
    width: 100%;
    height: 20px;
    color: black;
    display: flex;
}
.m-h-search>.m-btn{
    width: 30%;
    font-size: 10px;
    color: #000000;
    padding: 0;
}
.m-h-in{
    width: 60%;
    margin: 0;
    border: 0;
}
.m-h-svg{
    width: 10%;
    color: gray;
    margin: auto;
    text-align: center;
}
.m-h-svg>svg{
    font-size: 12px;
}


.m-main{
    width: 100%;
    padding: 10px 35px;
}
.m-main-lft{
    height: 250px;
    background-color: gray;
}
.m-main-rgt{
    font-size: 20px;
    background-color: #f4f4f4;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.m-main-rgt>.m-btn{
    width: 40%;
    height: 30px;
    background-color:#008def ;
}
.dsline{
    width: 100%;
    height: 20px;
    border-bottom: 1px dashed black ;
}
.m-main-rgt-count{
    text-align: center;
    font-size: 18px;
}
.m-main-rgt-count>.blue{
    color:  #0069b4;
}
.m-news{
    padding: 10px  20px;
    border: 1px solid gray;
    color: gray;
    font-size: 15px;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
}
.m-news-nb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}
.m-news-title{
    color: black;
    font-size: 18px;
}
.m-talk{
    color: gray;
}
.m-talk-2{
    float: right;
}
/*灰色方块*/
.m-gray-block{
    background-color: gray;
    width: 100%;
    height: 100px;
}
.s-1{
    display: flex;
    flex-direction: column-reverse;
}
.s-2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.m-gb-svg>svg{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    line-height: 20px;
}
/*ppt标签*/
.m-ppt{
    font-size: 10px;
    background-color: orangered;
    color: white;
    font-weight: 700;
    border-radius: 2px;
    width: 30px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}



.m-lat-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.m-coming{
    height: 250px;
    border: 1px solid gray;
    border-bottom: 3px solid #0092f1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #444;
    margin-bottom: 10px;
}
/*即将开始标签*/
.m-tag{
    background-color: #0092f1;
    color: white;
}

.m-next{
    border: 1px solid gray;
    padding: 10px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}
.s-3{
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
}
.m-times{
    width: 100%;
    text-align: center;
    padding: 0 -15px;
    background-color: black;
    color: white;
}